
h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  margin: 0;
  line-height: 0;
}

h1.day {
  color: black;
}

h1.night {
  color: white;
}

body.night {
  margin: 0; 
  padding: 0;
  background-color: black;
}

body.day {
  margin: 0; 
  padding: 0;
}

.box {
    margin-right: 5.5px;
    margin-left: 5.5px;
    margin-bottom: 5.5px;
    margin-top: 5.5px;
    color: white;
    display: table-cell;
    vertical-align: bottom;
}

.night, .night a{
  color: white;
}

.day, .day a{
  color: black;
}
